<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="PhotoGeoExplorer"
    Manufacturer="PhotoGeoExplorer"
    Version="$(var.ProductVersion)"
    UpgradeCode="$(var.UpgradeCode)"
    InstallerVersion="500"
    Scope="perMachine"
    Compressed="yes">
    <SummaryInformation Description="PhotoGeoExplorer installer" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of PhotoGeoExplorer is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="..\PhotoGeoExplorer\Assets\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="PhotoGeoExplorer" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppMenuFolder" Name="PhotoGeoExplorer" />
    </StandardDirectory>

    <Component Id="AppMenuShortcut" Directory="AppMenuFolder" Guid="*">
      <Shortcut
        Id="StartMenuShortcut"
        Name="PhotoGeoExplorer"
        Target="[INSTALLFOLDER]PhotoGeoExplorer.exe"
        WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveAppMenuFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\PhotoGeoExplorer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Feature Id="MainFeature" Title="PhotoGeoExplorer" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="AppMenuShortcut" />
    </Feature>
  </Package>
</Wix>
